<br><br>
<div *ngIf="!started">
  <br><br>
  <h2 class="blue">
    You could save 30% on Car Insurance when you're claims free.
  </h2>
  <br><br>
  <h4 class="right">
    <button mat-raised-button color="primary" (click)="started = true">Get a Quote</button>
    <br>
    Get a quote online and save 5% on eligible coverage*
  </h4>
</div>


<mat-vertical-stepper *ngIf="started && !submitted">
  <mat-step>
    <ng-template matStepLabel><h2>Vehicle Details</h2></ng-template>

    <h4>Fill in your vehicle details beginning with year, below.</h4>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Vehicle Year</mat-label>
        <mat-select [(value)]="year" (valueChange)="model = null; make = null;">
          <mat-option [value]="">Select</mat-option>
          <mat-option *ngFor="let y of years" [value]="y">{{ y }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p *ngIf="year">
      <mat-form-field appearance="outline">
        <mat-label>Vehicle Make</mat-label>
        <mat-select [(value)]="make" (valueChange)="model = null;">
          <mat-option [value]="">Select</mat-option>
          <mat-option *ngFor="let m of makes" [value]="m">{{ m }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p *ngIf="make">
      <mat-form-field appearance="outline">
        <mat-label>Vehicle Model</mat-label>
        <mat-select [(value)]="model">
          <mat-option [value]="">Select</mat-option>
          <mat-option *ngFor="let m of models" [value]="m">{{ m }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <div class="right">
      <button
        id="next-step"
        mat-raised-button
        color="primary"
        [disabled]="!model"
        matStepperNext
      >Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel><h2>Finance Details</h2></ng-template>

    <p>
      <mat-button-toggle-group [(value)]="finance">
        <mat-button-toggle value="owned">Owned</mat-button-toggle>
        <mat-button-toggle value="financed">Financed</mat-button-toggle>
        <mat-button-toggle value="leased">Leased</mat-button-toggle>
      </mat-button-toggle-group>
    </p>

    <div class="right">
      <button
        id="last-step"
        mat-stroked-button
        matStepperPrevious
      >Back</button>
      &nbsp;
      <button
        id="next-step2"
        mat-raised-button
        color="primary"
        [disabled]="!finance"
        matStepperNext
      >Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel><h2>Driving Distance</h2></ng-template>

    <h4>
     For this vehicle, what is the estimated total annual driving distance (km)?
    </h4>

    <mat-form-field appearance="outline">
      <mat-label>Select driving distance</mat-label>
      <input matNativeControl type="number" [(ngModel)]="distance">
    </mat-form-field>

    <h4>
      If applicable, select the options that contribute to your annual driving distance:
    </h4>

    <h4>
      <mat-checkbox color="primary" [(ngModel)]="workSchool"> I commute to work or school</mat-checkbox>
    </h4>

    <h4>
      <mat-checkbox color="primary" [(ngModel)]="business"> I use my car to conduct business</mat-checkbox>
    </h4>

    <div class="right">
      <button
        id="last-step2"
        mat-stroked-button
        matStepperPrevious
      >Back</button>
      &nbsp;
      <button
        id="next-step3"
        mat-raised-button
        color="primary"
        [disabled]="!distance && distance !== 0"
        matStepperNext
      >Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel><h2>Coverage Start Date</h2></ng-template>

    <h4>
      When do you want your coverage to start?
    </h4>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="right">
      <button
        id="last-step3"
        mat-stroked-button
        matStepperPrevious
      >Back</button>
      &nbsp;
      <button
        id="next-step4"
        mat-raised-button
        color="primary"
        [disabled]="!date"
        matStepperNext
      >Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel><h2>Savings and Discounts</h2></ng-template>

    <h4>
      Do you equip this vehicle with 4 winter tires from December 1st to Marth 31st every year?
    </h4>

    <mat-button-toggle-group [(value)]="winterTires">
      <mat-button-toggle value="yes">Yes</mat-button-toggle>
      <mat-button-toggle value="no">No</mat-button-toggle>
    </mat-button-toggle-group>

    <h4>
      Would you like to enroll in the TD MyAdvantage savings program?
      You could sav up to 25% for driving safely.
    </h4>

    <mat-button-toggle-group [(value)]="savingsProgram">
      <mat-button-toggle value="yes">Yes</mat-button-toggle>
      <mat-button-toggle value="no">No</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="right">
      <button
        id="last-step4"
        mat-stroked-button
        matStepperPrevious
      >Back</button>
      &nbsp;
      <button
        id="next-step5"
        mat-raised-button
        color="primary"
        [disabled]="!(!!savingsProgram && !!winterTires)"
        matStepperNext
      >Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel><h2>The Driver</h2></ng-template>

    <h4>
      Enter your license number and we'll fill in some off the required information.
    </h4>

    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Drivers License Number</mat-label>
      <input matNativeControl [(ngModel)]="licNumber" placeholder="ANNNN-NNNNNN-NNNNN">
    </mat-form-field>

    <h4>
      Entering your license number lets us deliver you a faster more accurate quote.
      Rest assured your personal information is secure with us.
    </h4>

    <div class="right">
      <button
        id="last-step5"
        mat-stroked-button
        matStepperPrevious
      >Back</button>
      &nbsp;
      <button
        id="next-step6"
        mat-raised-button
        color="primary"
        [disabled]="!licNumber"
        matStepperNext
      >Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel><h2>Driver's License History</h2></ng-template>

    <h4>
      Have you ever had a driver's license from another Canadian province, or the USA?
    </h4>

    <mat-button-toggle-group [(value)]="otherLic">
      <mat-button-toggle value="yes">Yes</mat-button-toggle>
      <mat-button-toggle value="no">No</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="right">
      <button
        id="last-step6"
        mat-stroked-button
        matStepperPrevious
      >Back</button>
      &nbsp;
      <button
        id="next-step7"
        mat-raised-button
        color="primary"
        [disabled]="!otherLic"
        (click)="submit()"
      >Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<div *ngIf="submitted">
  <br><br>
  <h2>Reviewer, here's a detailed summary of your quote:</h2>

  <h1><span class="biggest">${{insuranceCost}}</span> per month</h1>

  <h4>${{insuranceCostX12}} per year | Taxes not included | Quote #D000034953075</h4>
  <h4>You saved money on your premium.</h4>
  <br>

  <div class="right">
    <button id="let-us-call-you" mat-raised-button color="warn">Let us call you</button>
    <h4>
      Or call us at 1-877-<b>123-123</b>
    </h4>
  </div>
</div>
